<!doctype html>
<html>
	<head>
		<title>{{name}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="https://fonts.googleapis.com/css?family=Lora:400,400italic" rel="stylesheet" type="text/css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/soundmanager2/2.97a.20150601/script/soundmanager2-jsmin.js"></script>
		<script src="play-button.js"></script>
		<style>
			* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}
			
			body {
				font-family: 'Lora', serif;
				font-size: 15px;
			}
			
			.container {
				min-width: 400px;
				width: 50%;
				margin: 0 auto;
			}
			
			.title {
				margin-top: 1.5em;
				border-bottom: 1px #222 solid;
			}
			
			.title h1 {
				width: 100%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 2.5em;
			}
			
			.title p {
				width: 100%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 1.2em;
				margin-top: 0.75em;
				margin-bottom: 0.75em;
			}
			
			.playlist {
				padding: 1em;
			}
			
			.playlist ul {
				list-style: none;
				list-style-type: none;
			}
			
			.playlist li {
				padding: 0.3em;
			}
			
			.playlist li a {
				color: #000;
				text-decoration: none;
			}
			
			.playlist li a:hover {
				border-bottom: 2px #000 solid;
			}
			
			.playlist li a.sm2_playing:before {
				content: "\25ba  ";
				color: darkgreen;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="title">
				<h1>{{name}}</h1>
				<p>{{composer}}</p>
			</div>
			<div class="playlist">
				<ul>
					{{#srcset}}
					<li><a href="{{src}}" class="sm2_button">{{file}}</a></li>
					{{/srcset}}
				</ul>
			</div>
		</div>
	</body>
</html>